<mat-toolbar *ngIf="IsLogin()" color="primary" class="example-toolbar">
  <mat-toolbar-row>
    <button mat-mini-fab (click)="colapse()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="img">
      <img src="./assets/icons/logo2.png" />
    </div>

    <span class="example-spacer">{{ seleccion }}</span>

    <mat-icon>account_circle</mat-icon>
    <span class="user">{{ user }}</span>
    <button mat-mini-fab (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav
    *ngIf="IsLogin()"
    #sidenav
    class="example-sidenav"
    mode="side"
    opened="true"
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
  >
    <mat-nav-list>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Menu</span
        >
        <mat-icon mat-list-icon>dns</mat-icon>
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubmenu }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </mat-list-item>

      <div
        class="submenu"
        [ngClass]="{ expanded: showSubmenu }"
        *ngIf="isShowing || isExpanded"
      >
        <mat-list *ngIf="showSubmenu == true">
          <mat-list-item
            *ngFor="let item of links"
            (click)="getValue($event, '')"
            [routerLink]="item.url"
          >
            <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
            <a matLine [routerLink]="item.url">{{ item.name }}</a>
          </mat-list-item>
        </mat-list>
      </div>

      
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container-page">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
